{% extends "layouts/journey.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton with context %}

{% block pageTitle %}
    {{ t('review:pageTitle') }}
{% endblock %}

{% block head %}
    {{ super() }}
    <link href="{{ casa.mountUrl }}public/css/review-print.css?{{ version }}" media="print" rel="stylesheet">
    <link href="{{ casa.mountUrl }}public/css/button.css?{{ version }}" rel="stylesheet">
{% endblock %}

{% block content_block %}

    <form action="#" method="post" autocomplete="off" class="casa-journey-form">
        <input type="hidden" name="_csrf" value="{{ casa.csrfToken }}">
        <input type="hidden" name="reviewed" value="true"/>
        <h1 class="govuk-heading-l hide-print">{{ t('review:h1') }}</h1>

        <!-- Include blocks for all pages in the user's journey -->
        {% for block in reviewBlocks %}
            {% set waypointId = block.waypointId %}
            {% set waypointEditUrl = block.waypointEditUrl %}
            {% include block.reviewBlockView ignore missing %}
        {% endfor %}

        {{ govukButton({
            classes: "hide-print",
            attributes: {
                id: "continue-button"
            },
            text: t('common:form.buttons.continue.label')
        }) }}
    </form>
{% endblock %}
