$govuk-global-styles: true;

$publicUrl: "/review-claim/public";

@function constructPublicFontUrl($filename) {
  @return $publicUrl + "/assets/fonts/" + $filename;
}
$govuk-font-url-function: constructPublicFontUrl;

@import "../../../node_modules/govuk-frontend-v5/dist/govuk";
@import "../../../node_modules/@dwp/govuk-casa/src/scss/casaElements";
@import "../../../node_modules/hmrc-frontend/hmrc/components/header/header";
@import "../../../node_modules/hmrc-frontend/hmrc/components/language-select/language-select";

.govuk-footer__copyright-logo::before {
  mask-image: url($publicUrl + '/assets/rebrand/images/govuk-crest.svg');
}

.nhsuk-grid-column-one-third {
  box-sizing: border-box;
  padding: 0 10px;
}

.govuk-service-navigation__container {
  justify-content: space-between;
}

.govuk-service-navigation__item {
  margin-left: auto;
}