node_modules/
app/public/*
npm-debug.log
.vscode/
.DS_Store
app/static/**/*
!app/static/.gitkeep
.idea/
/sessions/*
/sessions/.gitkeep
/coverage/
/.nyc_output/
/static/
**/cucumber-reports

gitlab-ci/
.gitlab-ci.yml
component-tests/