{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import "govukSummaryList" with context %}
{% from "components/card-summary/macro.njk" import customSummaryCardTable with context %}
{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}
{% from "casa/components/input/macro.njk" import casaGovukInput with context %}
{% extends "layouts/journey.njk" %}

{% block head %}
    {{ super() }}
    <link href="{{ casa.mountUrl }}public/css/summaryCard.css" rel="stylesheet">
{% endblock %}

{% block casaPageTitle %}
    {{ t('claim-summary:h1.sw', employeeName) }}
{% endblock %}
{% block journey_form %}
    {% if typeOfClaim === 'SW' %}
        <h1 class="govuk-heading-l hide-print" data-ga-question="{{ t('claim-summary:h1-ga.sw') }}">
            {{ t('claim-summary:h1.sw', employeeName) }}</h1>
        <p class="govuk-body">{{ t('claim-summary:p1.sw', employeeName) }}</p>
        <p class="govuk-body">{{ t('claim-summary:p2.sw', employeeName) }}</p>
        {% elif typeOfClaim === 'TW' %}
        <h1 class="govuk-heading-l hide-print" data-ga-question="{{ t('claim-summary:h1-ga.tw') }}">
            {{ t('claim-summary:h1.tw', employeeName) }}</h1>
        <p class="govuk-body">{{ t('claim-summary:p1.tw', employeeName) }}</p>
        <p class="govuk-body">{{ t('claim-summary:p2.tw', employeeName) }}</p>
        <h2 class="govuk-heading-m">{{ t('claim-summary:h2-2') }}</h2>
        {% elif typeOfClaim === 'TIW' %}
        <h1 class="govuk-heading-l hide-print" data-ga-question="{{ t('claim-summary:h1-ga.tw') }}">
            {{ t('claim-summary:h1.tiw', employeeName) }}</h1>
        <p class="govuk-body">{{ t('claim-summary:p1.tiw', employeeName) }}</p>
        <p class="govuk-body">{{ t('claim-summary:p2.tiw', employeeName) }}</p>
        <h2 class="govuk-heading-m">{{ t('claim-summary:h2-2') }}</h2>
    {% endif %}
    {# START - Claim information section #}
    {% if typeOfClaim === 'SW' %}
        {% set files = claimData.evidence %}
        {% set totalHoursOfSupport = 0 %}
        {% set totalMinutesOfSupport = 0 %}
        {% set totalCost = claimData.cost %}
        {% set useHoursOfSupport = false %}
        {% set rowsArrayForDays = [] %}
        {% set rowsArrayForHoursAndCost = [] %}
      
        {% for monthIndex, month in claimData.claim %}
            {% for day in month['claim'] %}
                {% if day.timeOfSupport %}
                    {% set totalHoursOfSupport = totalHoursOfSupport + day['timeOfSupport']['hoursOfSupport'] | int %}
                    {% set totalMinutesOfSupport = totalMinutesOfSupport + day['timeOfSupport']['minutesOfSupport'] | int %}
                    {% set hoursOfSupportBlock %}
                        {{ (day['timeOfSupport']['hoursOfSupport'] + t('common:hour') if day['timeOfSupport']['hoursOfSupport'] | int === 1 else day['timeOfSupport']['hoursOfSupport'] + t('common:hours')) }}
                    {% endset -%}
                    {% set minutesOfSupportBlock %}
                        {{ (day['timeOfSupport']['minutesOfSupport'] + t('common:minute') if day['timeOfSupport']['minutesOfSupport'] | int === 1 else day['timeOfSupport']['minutesOfSupport'] + t('common:minutes')) }}
                    {% endset -%}
                    {% set monthBlock %}
                        {{ hoursOfSupportBlock + t('common:and') + minutesOfSupportBlock }}
                    {% endset -%}
                    {# Support the old format of data. There are old claims that have hoursOfSupport  rather than timeOfSupport  #}
                {% else %}
                    {% set useHoursOfSupport = true %}
                    {% set totalHoursOfSupport = totalHoursOfSupport + day['hoursOfSupport'] | round(2) %}
                    {% set hoursOfSupportBlock %}
                        {{ day['hoursOfSupport'] | round(2) + t('common:hour')  if day['hoursOfSupport'] | int === 1 else day['hoursOfSupport'] | round(2) + t('common:hours') }}
                    {% endset -%}
                    {% set monthBlock %}
                        {{ hoursOfSupportBlock }}
                    {% endset -%}
                {% endif %}

                {% if (day['dayOfSupport'] | length) %}             
                    {% set weekDay = t('common:days.' + daysOfSupport[monthIndex][loop.index-1].weekday) + ' ' + daysOfSupport[monthIndex][loop.index-1].day + ' ' + t('common:months.' + daysOfSupport[monthIndex][loop.index-1].month) %}
                    {% set rowsArrayForDays = (rowsArrayForDays.push({
                    key: {
                        text: weekDay
                    },
                    value: { html: (monthBlock | safe) }
                        }), rowsArrayForDays) %}
                {% else %}
                    {% set rowsArrayForDays = (rowsArrayForDays.push({
                    key: {
                        text: day['dayOfSupport'] + " " + month['monthYear'] | formatMonthYearObject(t)
                    },
                    value: { html: (monthBlock | safe) + t('common:from') + (day['nameOfSupport']) }
                            if day['nameOfSupport']
                            else { html: (monthBlock | safe) }
                }), rowsArrayForDays) %}
                {% endif %}
                
                {% endfor %}
                {{ customSummaryCardTable({
                    card: {
                        title: {
                        text:  t('claim-information:reviewBlock.monthOfSupport', month['monthYear'] | formatMonthYearObject(t))
                        }
                    },
                    rows: rowsArrayForDays
                }) }}
                {% set rowsArrayForDays = [] %}
        {% endfor %}
        {% set filesBLock %}
            {% for f in files %}
                {% if f %}
                    {{ f['fileName'] }}
                {% endif %}
            {% endfor %}
        {% endset -%}
        {% if useHoursOfSupport %}
            {% set totalSupportBlock %}
                {{ totalHoursOfSupport + t('common:hour') if totalHoursOfSupport | int === 1 else totalHoursOfSupport | round(2) + t('common:hours') }}
            {% endset -%}
        {% else %}
            {% set convertedMinutes = (totalHoursOfSupport * 60) + totalMinutesOfSupport %}
            {% set convertedHours = (convertedMinutes / 60) %}
            {% set roundedHours %}
                {{ convertedHours | round(0, "floor") }}
            {% endset -%}
            {% set minutes = (convertedHours - roundedHours) * 60 %}
            {% set roundedMinutes %}
                {{ minutes | round }}
            {% endset -%}
            {% set totalSupportBlock %}
                {{ (roundedHours + t('common:hour') if roundedHours | int === 1 else roundedHours + t('common:hours'))
                + t('common:and') +
                (roundedMinutes + t('common:minute') if roundedMinutes | int === 1 else roundedMinutes + t('common:minutes'))
                + t('common:ofSupport') }}
            {% endset -%}
        {% endif %}

        {% if supportWorkerName %}
        {% set rowsArrayForHoursAndCost = (rowsArrayForHoursAndCost.push({
                key: {
                    text: t('claim-information:reviewBlock.nameOfSupport')
                },
                value: { text: supportWorkerName }
            }), rowsArrayForHoursAndCost) %}
        {% endif %}

        {% set rowsArrayForHoursAndCost = (rowsArrayForHoursAndCost.push(
            {
                key: {
                    text: t('claim-information:reviewBlock.totalHoursOfSupport')
                },
                value: { html: (totalSupportBlock | safe) }
            },
            {
                key: {
                    text: t('claim-information:reviewBlock.totalCost')
                },
                value: { text: "£" + totalCost }
            },
            {
                key: {
                    text: t('claim-information:reviewBlock.files')
                },
                value: { html: (filesBLock | safe) }
        }), rowsArrayForHoursAndCost) %}
        {{ customSummaryCardTable({
            card: {
                title: {
                text:  t('claim-information:reviewBlock.totalHoursAndCosts')
                }
            },
            rows: rowsArrayForHoursAndCost
        }) }}

{% elif typeOfClaim === 'TW' %}
        {% set typeOfTravel = claimData.travelDetails.howDidYouTravelForWork %}
        {% set journeysOrMileage = claimData.travelDetails.journeysOrMileage %}
        {% set claim = claimData.claim %}
        {% set files = claimData.evidence %}
        {% set totalOfAllTravel = 0 %}
        {% set totalCost = claimData.cost %}
        {% set monthLength = claim | length %}
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{ t('travel-to-work-claim-information:reviewBlock.typeOfTravel') }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ t('travel-to-work-claim-information:reviewBlock.taxi') if typeOfTravel ===  'taxi' else t('travel-to-work-claim-information:reviewBlock.lift') }}
                </dd>
            </div>
            {% if journeysOrMileage %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {{ t('travel-to-work-claim-information:reviewBlock.journeysOrMileage') }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ t('travel-to-work-claim-information:reviewBlock.liftMileage') if journeysOrMileage ===  'mileage' else t('travel-to-work-claim-information:reviewBlock.liftJourney') }}
                    </dd>
                </div>
            {% endif %}
            {% for monthIndex, month in claim %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {{ t('travel-to-work-claim-information:reviewBlock.monthOfTravel') }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ month['monthYear'] | formatMonthYearObject(t) }}
                    </dd>
                </div>
                {% set monthBlock %}
                    {% for day in month['claim'] %}
                        {% set totalOfAllTravel = totalOfAllTravel + day['totalTravel'] | float %}
                        <ul class="govuk-list">
                            <li>{{ day['dayOfTravel'] }} {{ month['monthYear'] | formatMonthYearObject(t) }}</li>
                            <li>{{ t('travel-to-work-claim-information:reviewBlock.mileage', day['totalTravel']) if journeysOrMileage ===  'mileage' else t('travel-to-work-claim-information:reviewBlock.journeys', day['totalTravel']) }}</li>
                        </ul>
                    {% endfor %}
                {% endset -%}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {{ t('travel-to-work-claim-information:reviewBlock.daysOfMileage', month['monthYear'] | formatMonth(t)) if journeysOrMileage ===  'mileage' else t('travel-to-work-claim-information:reviewBlock.daysOfTravel', month['monthYear'] | formatMonth(t)) }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ monthBlock | safe }}
                    </dd>
                </div>
            {% endfor %}
            {% set filesBLock %}
                <ul class="govuk-list">
                    {% for f in files %}
                        {% if f %}
                            <li>{{ f['fileName'] }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endset -%}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{ t('travel-to-work-claim-information:reviewBlock.totalOfAllMileage', day['totalTravel']) if journeysOrMileage ===  'mileage' else t('travel-to-work-claim-information:reviewBlock.totalOfAllJourneys', day['totalTravel']) }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ t('travel-to-work-claim-information:reviewBlock.mileage', totalOfAllTravel | round(1)) if journeysOrMileage ===  'mileage' else t('travel-to-work-claim-information:reviewBlock.journeys', totalOfAllTravel) }}
                </dd>
            </div>
            {% if totalCost %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {{ t('travel-to-work-claim-information:reviewBlock.totalCostJourneys') }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        &pound;{{ totalCost }}
                    </dd>
                </div>
            {% endif %}
            {% if files or files.length > 0 %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {{ t('travel-to-work-claim-information:reviewBlock.files') }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ filesBLock | safe }}
                    </dd>
                </div>
            {% endif %}
        </dl>
    {% elif typeOfClaim === 'TIW' %}
        {% set typeOfTravel = claimData.travelDetails.howDidYouTravelDuringWork %}
        {% set files = claimData.evidence %}
        {% set claim = claimData.claim %}
        {% set totalMiles = claimData.totalMileage %}
        {% set totalCost = claimData.cost %}
        {% set monthLength = claim | length %}
        {% set rowsArrayMonthlyTravel = [] %}
        {% set rowsArrayTravelDetails = [] %}
        {% set journeyLengthTotal = 0 %}

        {% for monthIndex, month in claim %}
            {% set journeyLengthMonth = month['claim'] | length %}
            {% set rowsArrayMonthlyTravel = ( rowsArrayMonthlyTravel.push(
                {
                key: {
                    text: month['monthYear'] | formatMonthYearObject(t)
                },
                value: { html: (journeyLengthMonth | safe) + t('travel-during-work-claim-information:reviewBlock.journey') }
                        if ( journeyLengthMonth === 1 )
                        else { html: (journeyLengthMonth | safe) + t('travel-during-work-claim-information:reviewBlock.journeys') }
            }), rowsArrayMonthlyTravel) %}
            {% set journeyLengthTotal = journeyLengthTotal + journeyLengthMonth %}
        {% endfor %}

        {{ customSummaryCardTable({
                card: {
                    title: {
                    text:  t('travel-during-work-claim-information:reviewBlock.monthlyTravel')
                    }
                },
                rows: rowsArrayMonthlyTravel
        }) }}

        {% set filesBlock %}
            {% for f in files %}
                {% if f %}
                    {{ f['fileName'] }}
                {% endif %}
            {% endfor %}
        {% endset -%}

        {% set rowsArrayTravelDetails = ( rowsArrayTravelDetails.push(
            {
                key: {
                    text: t('travel-during-work-claim-information:reviewBlock.totalJourneys')
                },
                value: { html: (journeyLengthTotal | safe) }
            },
            {
                key: {
                    text: t('travel-during-work-claim-information:reviewBlock.totalJourneyMiles')
                },
                value: { html: (totalMiles | safe) }
            },
            {
                key: {
                    text: t('travel-during-work-claim-information:reviewBlock.totalJourneyCost')
                },
                value: { html: ('£' + totalCost | safe) }
            },
            {
                key: {
                    text: t('travel-during-work-claim-information:reviewBlock.files')
                },
                value: { html: (filesBlock | safe) }
        }), rowsArrayTravelDetails) %}

            {{ customSummaryCardTable({
                card: {
                    title: {
                    text:  t('travel-during-work-claim-information:reviewBlock.travelDetails')
                    }
                },
                rows: rowsArrayTravelDetails
            }) }}
    {% endif %}

    {# END - Claim information section #}
    {{ casaGovukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "correctClaim",
        name: "correctClaim",
        casaValue: formData.correctClaim,
        casaErrors: formErrors,
        fieldset: {
            legend: {
                text: t('claim-summary:h2-3'),
                classes: "govuk-fieldset__legend--m"
            }
        },
        items: [
            {
                value: "yes",
                text: t('claim-summary:radioYes')
            },
            {
                value: "no",
                text: t('claim-summary:radioNo')
            }
        ]
    }) }}
{% endblock %}