{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "casa/components/input/macro.njk" import casaGovukInput with context %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "casa/components/date-input/macro.njk" import casaGovukDateInput with context %}

{% extends "layouts/journey.njk" %}

{% block casaPageTitle %}
    {{ t('claim-incorrect:pageTitle') }}
{% endblock %}

{% block journey_form %}

    <h1 class="govuk-heading-l">{{ t('claim-incorrect:h1') }}</h1>

    {% if typeOfClaim === 'SW' %}
        <p class="govuk-body">{{ t('claim-incorrect:sw.p1', employeeName) }}</p>
        <p class="govuk-body">{{ t('claim-incorrect:p2', employeeName) }}</p>
    {% elif typeOfClaim === 'TW' %}
        <p class="govuk-body">{{ t('claim-incorrect:tw.p1', employeeName) }}</p>
        <p class="govuk-body">{{ t('claim-incorrect:p2', employeeName) }}</p>
    {% elif typeOfClaim === 'TIW' %}
        <p class="govuk-body">{{ t('claim-incorrect:tiw.p1') }}</p>
        <p class="govuk-body">{{ t('claim-incorrect:tiw.p2', employeeName) }}</p>
    {% endif %}

    {{ govukCharacterCount({
        id: "f-claimIncorrect",
        name: "claimIncorrect",
        value: formData.claimIncorrect,
        casaErrors: formErrors,
        maxlength: 300,
        attributes: {
            "aria-label": t('claim-incorrect:h1'),
            "aria-required": true
        }
    }) }}

{% endblock %}
