{% from "govuk/components/button/macro.njk" import govukButton with context %}

{% extends "layouts/journey.njk" %}

{% block casaPageTitle %}
    {{ t('declaration:pageTitle') }}
{% endblock %}

{% block journey_form %}

    <h1 class="govuk-heading-l">{{ t('declaration:h1') }}</h1>
    <p class="govuk-body">{{ t('declaration:p1') }}</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li class="govuk-body">{{ t('declaration:ul.li1') }}</li>
        <li class="govuk-body">{{ t('declaration:ul.li2') }}</li>
        <li class="govuk-body">{{ t('declaration:ul.li3') }}</li>
    </ul>

{% endblock %}
