{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "casa/components/input/macro.njk" import casaGovukInput with context %}
{% from "casa/components/date-input/macro.njk" import casaGovukDateInput with context %}

{% extends "layouts/journey.njk" %}

{% block casaPageTitle %}
    {{ t('enter-claim-reference-number:pageTitle') }}
{% endblock %}

{% block journey_form %}
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend">
            <h1 class="govuk-heading-l">{{ t('enter-claim-reference-number:h1') }}</h1>
        </legend>
    </fieldset>

    <p class="govuk-body">{{ t('enter-claim-reference-number:p1') }}</p>
    <p class="govuk-body"><a href="?skipto=confirm-claim-reference-number">{{ t('enter-claim-reference-number:link') }}</a></p>

    {{ casaGovukInput({
        id: 'f-claimReference',
        name: 'claimReference',
        value: previouslyEnteredClaimReference | default(formData.claimReference, true),
        casaErrors: formErrors,
        classes: "govuk-input--width-40",
        hint: {
            text:  t("enter-claim-reference-number:hint")
        },
        attributes: {
            "aria-label": t("enter-claim-reference-number:h1"),
            "aria-required": true
        }
    }) }}

{% endblock %}
