{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/journey.njk" %}

{% block casaPageTitle %}
    {{ t('incorrect-claim:pageTitle') }}
{% endblock %}

{% block content_block %}

    <h1 class="govuk-heading-l">{{ t('incorrect-claim:h1') }}</h1>
    <p class="govuk-body">{{ t('incorrect-claim:p1') }}</p>
    <p class="govuk-body">{{ t('incorrect-claim:p2') }}</p>
    <p class="govuk-body">
        {{ t('incorrect-claim:p3.text1') }} <a href="{{ casa.mountUrl }}">{{ t('incorrect-claim:p3.link') }}</a> {{ t('incorrect-claim:p3.text2') }}
    </p>

{% endblock %}
