{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "casa/components/input/macro.njk" import casaGovukInput with context %}
{% from "casa/components/date-input/macro.njk" import casaGovukDateInput with context %}

{% extends "layouts/journey.njk" %}

{% block casaPageTitle %}
    {{ t('job-title:pageTitle') }}
{% endblock %}

{% block journey_form %}

    <h1 class="govuk-heading-l">{{ t('job-title:h1') }}</h1>

    {{ casaGovukInput({
        id: 'f-jobTitle',
        name: 'jobTitle',
        value: formData.jobTitle,
        casaErrors: formErrors,
        classes: "govuk-input--width-40",
        attributes: {
            "aria-label": t('job-title:h1'),
            "aria-required": true
        },
        autocomplete: 'organization-title'
    }) }}

{% endblock %}
