{% extends "layouts/journey.njk" %}
{% from "casa/components/postal-address-object/macro.njk" import casaPostalAddressObject with context %}

{% block casaPageTitle %}
    {{ t('enter-address-of-company:pageTitle', companyName) }}
{% endblock %}


{% block journey_form %}

    {{ casaPostalAddressObject({
        fieldset: {
            legend:  {
                text: t('enter-address-of-company:h1', companyName),
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }   
        },
        attribute: {
            "data-ga-question": t('enter-address-of-company:h1-ga')
        },
        name: 'address',
        value: formData.address,
        address1: {
            autocomplete: 'address-line1',
            attributes: {
                "aria-required": true
            }
        },
        address2: {
            autocomplete: 'address-line2'
        },
        address3: {
            autocomplete: 'address-level2',
            attributes: {
                "aria-required": true
            }
        },
        address4: {
            autocomplete: 'address-level1'
        },
        postcode: {
            autocomplete: 'postal-code',
            attributes: {
                "aria-required": true
            }
        },
        casaErrors: formErrors
    }) }}


{% endblock %}
