{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{% if showLanguageToggle %}
    {{
        hmrcLanguageSelect({
        language: locale,
            en: {
            href: languageUrlEn
            },
            cy: {
            href: languageUrlCy
            }
        })
    }}
{% endif %}