{% extends "layouts/journey.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block casaPageTitle %}
    {{ t('help-us-improve-this-service:pageTitle') }}
{% endblock %}

{% block breadCrumbs %}
    {{ govukBackLink({
        classes: 'hide-print',
        text: t('common:back'),
        href: backLink
    }) }}
{% endblock %}

{% set insetText %}
            <p class="govuk-body">{{ t('help-us-improve-this-service:insetText.span1') }}</p>
            <p class="govuk-body">
                {{ t('help-us-improve-this-service:insetText.span2') }}
                <a href="{{ t('help-us-improve-this-service:insetText.url') }}" target="_blank"> {{ t('help-us-improve-this-service:insetText.link3') }}</a>
            </p>
    {% endset -%}

{% block content_block %}
  <h1 class="govuk-heading-l">{{ t('help-us-improve-this-service:h1') }}</h1>

            <p class="govuk-body">{{ t('help-us-improve-this-service:p1') }}</p>

            <p class="govuk-body">
                <a href="{{ t('help-us-improve-this-service:p2.url') }}" target="_blank"> {{ t('help-us-improve-this-service:p2.link1') }}</a>
            </p>

        <h2 class="govuk-heading-m">{{ t('help-us-improve-this-service:h2')}}</h2>

            <p class="govuk-body">
                {{ t('help-us-improve-this-service:p3.span1') }}
                <a href="mailto:atwonlinefeedback@dwp.gov.uk" target="_blank"> {{ t('help-us-improve-this-service:p3.link2') }}</a>
                {{ t('help-us-improve-this-service:p3.span2') }}<br/>
            </p>

             <p class="govuk-body">{{ t('help-us-improve-this-service:p4') }}</p>

             <p class="govuk-body">{{ t('help-us-improve-this-service:p5') }}</p>
             <ul class="govuk-list govuk-list--bullet">
                <li>{{ t('help-us-improve-this-service:ul1.li1') }}</li>
                <li>{{ t('help-us-improve-this-service:ul1.li2') }}</li>
            </ul>

            {{ govukInsetText({
                html: insetText | safe
            }) }}

        <h2 class="govuk-heading-m">{{ t('help-us-improve-this-service:h3')}}</h2>

            <p class="govuk-body">{{ t('help-us-improve-this-service:p7') }}</p>

{% endblock %}
