<!DOCTYPE html>
{% extends "casa/layouts/journey.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "casa/components/journey-form/macro.njk" import casaJourneyForm with context %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "../components/hmrc/header/macro.njk" import hmrcHeader %}

{% set govukRebrand = true %}

{% block header %}
{{ govukHeader({
    homepageUrl: t('common:crownLogoLink'),
    useTudorCrown: true,
    language: locale,
    classes: ['hide-print'],
    rebrand: true
}) }}

{% if hideSignOut %}
    {{ govukServiceNavigation({
        serviceName: t('common:serviceName')
    }) }}
{% else %}
    {{ govukServiceNavigation({
        serviceName: t('common:serviceName'),
        navigation: [
        {
            href: casa.mountUrl + "auth/enter-claim-reference-number",
            text: "Sign out"
        }
        ]
    }) }}
{% endif %} 

{{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    classes: "govuk-width-container",
    html: t('common:header.feedback', { url: feedbackFormDirectUrl })
}) }}
{% endblock %}

{# Add our custom stylesheets #}
{% block head %}
    {%- if cookieMessage === "accept" -%}
        {% include "partials/gtm-head-snippet.njk" %}
    {%- endif %}
    {% include "partials/custom-styles.njk" %}
{% endblock %}

{% block bodyStart %}

    {% if cookieMessage === "unset" or cookieChoiceMade %}
        {% include "partials/cookie-message.njk" %}
    {% endif %}
    {%- if cookieMessage === "accept" -%}
        {% include "partials/gtm-body-snippet.njk" %}
    {%- endif %}

{% endblock %}

{% block beforeContent %}

    {% include "partials/language-toggle.njk" %}

    {# Add back link, if appropriate #}
    {% if not inEditMode and casa.journeyPreviousUrl and not hideBackButton %}
        {{ govukBackLink({
            classes: 'hide-print',
            text: t('common:back'),
            href: casa.journeyPreviousUrl
        }) }}
    {% endif %}

{% endblock %}

{% block content %}
    {% block content_main %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% block content_block %}
                    {% if formErrorsGovukArray %}
                        {{ govukErrorSummary({
                            titleText: t("error:summary.h1"),
                            descriptionText: errorDescription or t('error:summary.defaultDescription'),
                            errorList: formErrorsGovukArray
                        }) }}
                    {% endif %}

                    <form action="#" method="post" autocomplete="off" novalidate
                          class="casa-journey-form" {{ 'enctype=multipart/form-data' if fileUpload }}>
                        <input type="hidden" name="_csrf" value="{{ casa.csrfToken }}"/>
                        {% if inEditMode %}<input type="hidden" name="edit" value="true"/>{% endif %}
                        {% if inEditMode and editOriginUrl %}<input type="hidden" name="editorigin"
                                                                    value="{{ editOriginUrl }}" />{% endif %}

                        {# FORM CONTENT HERE #}
                        {% block journey_form %}{% endblock %}
                        {% block lower_content %}{% endblock %}

                        {% if not hideContinueButton %}
                            <div class="casa-form-control-block">
                                {{ govukButton({
                                    attributes: {
                                        id: 'continue-button'
                                    },
                                    text: BUTTON_TEXT if BUTTON_TEXT else t('common:form.buttons.continue.label'),
                                    preventDoubleClick: true
                                }) }}
                            </div>
                        {% endif %}
                    </form>

                    {% block after_form %}{% endblock %}
                {% endblock %}

            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block footer %}
    {{ govukFooter({
        meta: {
            items: [ {
                href: cookieDetailsUrl,
                text: t("common:footer.cookies")
            },
            {
                href: acessibilityStatementUrl,
                text: t("common:footer.accessibilityStatement")
            }]
        },
        rebrand: true
    }) }}
{% endblock %}
